{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
	"bracketSpacing": true,
	"printWidth": 100,
	"semi": false,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/lib/styles/layout.css"
}
